Repository epiphany-platform/CommonDataLayer, pull requests merged in 2021-06, with the labels that each got.

#546 docs: Feature List update
  docs/features/index.md
  docs/rfc/NAF-Commit_message_formalization_and_enforcement.md
Labels: M-documentation

#485 docs: deployment rfc
  docs/rfc/CDLF-00015-00-rfc-01.md
Labels: M-RFC

#575 docs: CDLF-00010 rfc update - format introduction
  docs/rfc/CDLF-00010-00-rfc-01.md
  docs/rfc/CDLF-00010-00-rfc-02.md
Labels: M-RFC

#564 feat: CDLF-00010 implementation - CDL Ingestion Api versioning
  Cargo.lock
  benchmarking/src/utils.rs
  crates/api/src/schema/mutation.rs
  crates/api/src/types/data.rs
  crates/data-router/Cargo.toml
  crates/data-router/src/handler.rs
  crates/dto/src/ingestion.rs
  crates/rpc/proto/common.proto
  e2e/src/api.rs
Labels: A-data-router, I-High, M-enhancement
